@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  min-height: 6rem;
  padding-bottom: 5rem;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(229, 227, 227);
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 200, 200);
}

#cq2-logo-svg-path {
  fill: #d4d4d3;
  transition: 0.2s;
}

#cq2-logo-link:hover #cq2-logo-svg-path {
  fill: #000000;
}

#cq2-main-logo #cq2-logo-svg-path {
  fill: #000000;
}

/* .left-nav-tree {
  margin-left: 10px;
}

.left-nav-tree ul {
  margin-left: 15px;
}

.left-nav-tree ul ul {
  margin-left: 20px;
}

.left-nav-tree ul ul ul {
  margin-left: 25px;
}

.left-nav-tree ul ul ul ul {
  margin-left: 30px;
}

.left-nav-tree ul ul ul ul ul {
  margin-left: 35px;
} */

/* .delayed-fadeout {
  -webkit-animation: 0.3s ease 0s normal forwards 1 fadein;
  animation: 0.3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 */

.child-thread {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
