@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.post-editor .ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.post-editor .ProseMirror {
  min-height: 8rem;
  padding-bottom: 5rem;
}

.chat-editor .ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.chat-editor .ProseMirror {
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  max-height: 12rem;
  overflow-y: auto;
}

.dm-editor .ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.dm-editor .ProseMirror {
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  max-height: 12rem;
  overflow-y: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0.6rem;
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: #dbd9d9;
}

#cq2-logo-svg-path {
  fill: #d4d4d3;
  transition: 0.2s;
}

#cq2-logo-link:hover #cq2-logo-svg-path {
  fill: #000000;
}

#cq2-main-logo #cq2-logo-svg-path {
  fill: #000000;
}

.post-child-thread {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-home-gradient {
  z-index: 0;
  background-image: radial-gradient(
    circle closest-side,
    #ff5f1f8d,
    rgba(255, 255, 255, 0)
  );
  display: block;
  position: absolute;
  animation:
    fadeIn 1.3s ease-in,
    zoomIn 1.3s ease-in;
  top: -3.3rem;
  left: 0;
  right: 0;
}

@media (min-width: 768px) {
  .bg-home-gradient {
    top: -10.5rem;
  }
}

.home-title {
  animation:
    mover 0.5s ease-in,
    fadeIn 0.5s ease-in;
}

.home-subtitle {
  animation:
    mover 0.5s ease-in,
    fadeIn 0.5s ease-in;
}

.home-demo {
  animation:
    fadeIn 1s ease-in,
    zoomIn 1s ease-in;
}

@keyframes mover {
  0% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(-0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.new-comment {
  animation:
    fadeIn 0.2s ease-in,
    mover 0.2s ease-in;
}

.new-thread-popup-btn {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
